* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
/*Header Styling*/

header {
    padding: 20px 35px;
    background-color: rgb(51, 81, 0);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: #fff;
    margin: 0;
}

header a {
    font-weight: bold;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

header a:hover {
    color: yellow;
}

header nav {
    margin: 5px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 2.55vw;
}

/*INSERT FOOTER STYLING*/


/*HERO STYLING*/
.hero {
    background-image: url('../images/hero-image.jpg');
    background-size: cover;
}

/*section style start*/

section {
    padding: 15px;
}

/*about me styles */
.about-me h3 {
    font-family: Arial, Helvetica, sans-serif;
}

.about-me img {
    border-radius: 25%;
    width: 100px;
    height: 150px;

}

/*my work examples styling*/

.work-examples {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.example {
    margin: 20px;
    flex: 1;
    background:rgb(51, 81, 0);
    color:rgb(255, 255, 255);
}

.example img {
    width: 100%;
}

.example-type h4, .example-type p {
    font-family: Arial, Helvetica, sans-serif;
}

/*contact me styling*/

.contact-me {
    border: 10px solid greenyellow;
    border-bottom:none;
    border-top:none;
    border-right:none;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
}


/*MEDIA QUERY FOR TABLETS AND SMALLER */

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 575px) {
    
}


